<div class="header-wagon">
  <!-- Logo -->
  <div id="logo">玲翠習字教室</div>

  <div class="header-wagon-right hidden-xs hidden-sm">
  <div >
    <a href="tel:092-864-6288"><i class="fas fa-phone"></i>092-864-6288</a>
  </div>
</div>
