<div class="container kakomi-box4">
  <h3 class="title"><i class="fas fa-info"></i>&nbspお知らせ</h3>
  <br><p>玲翠教室のFacebookページにて日本習字のキャンペーンのお知らせや文化祭の情報を掲載しております。<br>次回の玲翠教室文化祭は2019年3月を予定しております。</p><br>
  <div class="info">
    <div class="info-text kokuban-t2 col-sm-12 col-md-5 col-md-offset-1" >
      <h4 class="title-t2"><i class="fas fa-gift"></i>&nbsp現在のキャンペーン情報&nbsp<i class="fas fa-gift"></i></h4>
      <br><h4>＜平成30年12月20日(木)まで＞</h4>
      <p style="color:#F9D3C6">対象：年少から中学3年生までの生徒</p>
      日本習字の会員3〜6ヶ月お申し込みの方に、<br>筆セット」をプレゼント<br>
      7ヶ月以上お申し込みの方に、<br>「習字セット」をプレゼント
      <p style="color:#F9D3C6">対象：高校生以上の方</p>
      日本習字の会員3〜6ヶ月お申し込みの方に、<br>「筆セット」または「デスクペン」をプレゼント<br>
      7ヶ月以上お申し込みの方に、<br>「成人用習字セット」または「万年筆」をプレゼント</p><br>
      <p style="font-size: 14px;">詳細はFacebookページにてご確認ください。</p>
    </div>

　　　 <div id="fb-root"></div>
　　　   <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.1&appId=800410130289922&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-page" data-href="https://www.facebook.com/&#x798f;&#x5ca1;&#x5e02;&#x65e9;&#x826f;&#x533a;&#x306e;&#x66f8;&#x9053;&#x7fd2;&#x5b57;&#x6559;&#x5ba4;&#x5317;&#x5cf6;&#x73b2;&#x7fe0;-384779618259720/" data-tabs="timeline" data-width="400" data-height="447" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/&#x798f;&#x5ca1;&#x5e02;&#x65e9;&#x826f;&#x533a;&#x306e;&#x66f8;&#x9053;&#x7fd2;&#x5b57;&#x6559;&#x5ba4;&#x5317;&#x5cf6;&#x73b2;&#x7fe0;-384779618259720/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/&#x798f;&#x5ca1;&#x5e02;&#x65e9;&#x826f;&#x533a;&#x306e;&#x66f8;&#x9053;&#x7fd2;&#x5b57;&#x6559;&#x5ba4;&#x5317;&#x5cf6;&#x73b2;&#x7fe0;-384779618259720/">福岡市早良区の書道・習字教室「北島玲翠」</a></blockquote></div>
  </div>
</div>
