/* 黒板風　タイトル */
.kokuban-t2 {
  position: relative;
  margin: 2em auto;
  padding: 20px 0;
  width: 80%; /* ボックス幅 */
  background-color: #006633; /* ボックス背景色 */
  color: #fff; /* 文章色 */
  border: 8px solid #b2771f; /* 枠線 */
  border-radius: 3px; /* 角の丸み */
  box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
}
.kokuban-t2::before,
.kokuban-t2::after {
 position: absolute;
 content: '';
 bottom: 0;
}
.kokuban-t2::before {
 right: 10px;
 border: solid 3px #fff; /*チョーク（白）*/
 width: 20px;
 border-radius: 3px 2px 0 2px;
}
.kokuban-t2::after {
 right: 40px;
 border: solid 3px #ffff6b; /*チョーク（黄色）*/
 width: 15px;
 border-radius: 8px 5px 2px 5px;
}
.title-t2 {
 font-weight: bold;
 font-size: 1.1em;
 color: #ffff6b; /* タイトル色 */
}
